* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mainhead {
    grid-area: mainhead;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: gray;
    justify-content: space-around;
    color: white;
    height: 120px;
}

.logo {
    position: absolute;
    left: 0;
    margin: 10px;
}

.navegacao {
    grid-area: navegacao;
    margin: 0;
    display: flex;
    background-color: cyan;
    height: 60px;
    justify-content: space-between;
}

.lateral {
    grid-area: lateral;
    background-color: gray;
    display: flex;
    text-align: justify;
    align-content: center;
    display: inline-block;
    padding: 10px;
}

.lateral>h1 {
    text-align: center;
}

.lateral>h3 {
    text-align: center;
}

.imagem1 {
    grid-area: imagem1;
}

.imagem2 {
    grid-area: imagem2;
}

.imagem3 {
    grid-area: imagem3;
}

.imagem4 {
    grid-area: imagem4;
}

.rodape {
    grid-area: rodape;
    background-color: white;
    height: 40px;
    text-align: center;
    padding-top: 3px;
    color: black;
}

.botao {
    background-color: blue;
    padding: 8px;
    align-content: center;
    border-radius: 20%;
}

.h3 {
    text-align: center;
}

.grid {
    display: grid;
    gap: 3px;
    width: 100vw;
    grid-template-areas: "mainhead" "navegacao" "lateral" "imagem1" "imagem2" "imagem3" "imagem4" "rodape"
}

@media (min-width: 700px) {
    .grid {
        grid-template-rows: auto 2fr;
        grid-template-columns: auto;
        grid-template-areas: "mainhead mainhead mainhead mainhead" "navegacao navegacao navegacao navegacao" "lateral lateral imagem1 imagem2" "lateral lateral imagem3 imagem4" "rodape rodape rodape rodape"
    }
}