h1{
    background:#d1caca;
    text-align: center;
    width: 350px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h3{
    
    text-align: center;
    width: 600px;
    height: 60px;
    justify-content: center;
    
}

section .div{
    align-self: center;

}

    
   




