* {
    box-sizing: border-box;
}


body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.main-head {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px 0 rgb(61, 61, 61);
    background-color: teal!important;
    color: white;
}
.main-head > img {
    width: 50px;
    position: absolute;
    left: 20px;
    

}

.side {
    grid-area: sidebar;
    background-color: teal!important;
    
    
    
}

.content {
    grid-area: content;
    text-align: center;
    border-radius: 4px;
    padding: 0 20px;
    background-color: teal!important;
    color: white;
}

.content p {
    text-align: justify;
}

.video-1 {
    grid-area: first-video;
    
}

.video-2 {
    grid-area: sec-video;
    
}

.video-3 {
    grid-area: th-video;
    
}

.video-4 {
    grid-area: fourth-video;
    
}

.wrapper > * {

background-color: rgb(228, 228, 228) ;
border-radius: 4px;



}

.wrapper {
    display: grid;
    gap: 20px;
    
    width: 100vw;
    height: 100vh; 
    grid-template-areas: 
        "header"
        "sidebar"
        "content"
        "first-video"
        "sec-video"
        "th-video"
        "fourth-video"
}

.side > ul > li > a {
    text-decoration: none;
    margin: 10px 10px;
    display: inline-block;
    color: rgb(255, 255, 255);  
}
.side > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.video-yt {
    display: flex;
    width: auto;
    margin: 0 auto;
    border-radius: 4px;
}

@media (min-width: 500px){
    .wrapper{
        grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "header header"
        "sidebar sidebar"
        "content first-video"
        "content sec-video"
        "content th-video"
        "content fourth-video"
        
    }
}    

    @media (min-width: 1000px){
        .wrapper{
            grid-template-rows: 1fr 4fr 4fr;
            grid-template-columns: 2fr 4fr 2fr 2fr;
            grid-template-areas:
            "header     header     header         header"
            "sidebar    content    first-video    sec-video"
            "sidebar    content    th-video       fourth-video"
            
            
        }


    }    

.side > ul {
            display:flex;
            list-style: none;
            flex-direction: column;
}
