*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 16px;
}

.main-head{
    grid-area: header;
    border: 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-head > img {
width: 290px;
position: absolute;
left: 15px;
}

.side{
    grid-area: sidebar;
    text-align: center;
    border: 1px solid black;
}

.anuncio{
    grid-area: content;
    font-size: 10px;
    padding: 0 20px;
    border: 1px solid black;
}

.noticias-1{
    grid-area: f-noticia;
    font-size: 10px;
    padding: 0 20px;
    border: 1px solid black;
}

.noticias-2{
    grid-area: sec-noticia;
    font-size: 10px;
    padding: 0 20px;
    border: 1px solid black;
}

.noticias-3{
    grid-area: th-noticia;
        font-size: 10px;
    padding: 0 20px;
    border: 1px solid black;
}

.noticias-4{
    grid-area: for-noticia;
        font-size: 10px;
    padding: 0 20px;
    border: 1px solid black;
}

.wrapper > * {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 4px 10px 0px #00c2cb;
}

.wrapper{
    display: grid;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "header"
        "sidebar"
        "content"
        "f-noticia"
        "sec-noticia"
        "th-noticia"
        "for-noticia"
}

@media (min-width: 500px){
    .wrapper{
        grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "header header"
        "sidebar sidebar"
        "f-noticia content"
        "sec-noticia content"
        "th-noticia content"
        "for-noticia content"
    }
}

@media (min-width: 700px){
    .wrapper{
        grid-template-rows: 2fr 1fr 4fr 4fr;
        grid-template-columns: 2fr 2fr 1fr 1fr;
        grid-template-areas:
        "header header header header"
        "sidebar sidebar sidebar sidebar"
        "f-noticia sec-noticia content content "
        "th-noticia for-noticia content content "
    }

    .side > ul {
        display: flex;
        list-style: none;
        flex-direction: column;
    }
}

.side > ul > li > a{
    text-decoration: none;
    display: inline-block;
    font-style: oblique;
}


.side > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* Formatações */

h3 { font-size: 20px;
    font-style: italic;
}

p { font-size: 12px;
}

.conteudo p {
    text-align: justify;
}

.video-yt {
    display: flex;
    align-items: center;
    padding: 0 10px;
}