* {
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

.carousel img {
  width: 400px;
  height: 400px;
  text-align: center;
flood-color: black;
}
.wrapper>* {
  background-color: #F3ECE7;
  border-radius: 2px;
  width: 1027px;
  display: grid;
  align-items: center;
  justify-items: center;
 }

.main-head {
  grid-area: header;
  background-color: #F3ECE7;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: 90px;
  justify-content: space-around;
  height: 165px;
}

.main-head>img {
  width: 250px;
  image-orientation: from-image;
}

.main-head>h5 {
  font-size: 8em
}

.content img {
  width: 500px;
  image-orientation: from-image;
}

hr {
  color: black;
}

.footer {
  background-color: #F3ECE7;
  height: 50px;
  bottom: 0px;
  width: 1537px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 13px;
  border-radius: 2px;
}

.content {
  grid-area: content;
  background-color: #F3ECE7;
  border-radius: 2px;
  height: 535px;
  bottom: 0px;
  width: 1537px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  font-size: center;
}

.wrapper {
  display: grid;
  gap: 10px;
  background-color: #F3ECE7;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
  "header"   "header"
  "content"  "content" 
  "footer  footer"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-rows: 1fr 1fr auto 2fr 2fr 2fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    
    "header   header   header" 
    "content  content  content" 
    "footer   footer   footer"
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-template-areas: 
    "header   header   header   header" 
    "content  content  content  content" 
    "footer   footer   footer   footer"
  }
}