.conteiner h1{
    background-color: #fcfdfd;
    text-align-last: center ;
 
}

.table-responsive img {

    width: 100px;

}
.conteiner {
    background-color: rgb(116, 190, 240);
    text-align: center;
  }
 
  