body {
    text-align: center;
    background-color: rgb(255, 10, 10);
}

.container-lg {
    color: rgb(255, 0, 0);
}

#buscas {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
}

#headers {
    background-color: rgba(216, 216, 216, 0.219);
    color: rgb(0, 0, 0);
}

#headers img {
    max-width: 80px;
    max-height: 80px;
}


#conteudo {
    background-color: rgb(233, 209, 255);
}

#conteudo img {
    padding: 20px;
    width: 200px;
    height: 160px;
}

.form-control {
    width: 200px;
}

#buscas button {
    width: 100px;
    height: 40px;
}

#footer {
    background-color: rgb(251, 255, 0);
    color: rgb(255, 0, 0);
}

.table img {
    width: 100px;
    height: 50px;
}

.table-descripiton {
    text-align: justify;
}

.carousel {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    font-size: 20px;
    position: relative;
}

#nav-main {
    background-color: rgb(251, 255, 0);
    color: rgb(83, 83, 83);
}

#text-color {
    color: black;
}

#border-1 {
    border: black;
    border-radius: 12px;
}
#imagens12 img {
    width: 4000px;
    height: 200px;
} 