.area_0 { grid-area: logomarca; }
.area_1 { grid-area: cabecalho; 
  padding: 100px;
  text-align: center;
  font-weight: bold;}
.area_2 { grid-area: busca;}
.area_3 { grid-area: lateral-e; }
.area_4 { grid-area: conteudo-1; }
.area_5 { grid-area: conteudo-2; }
.area_6 { grid-area: conteudo-3; }
.area_7 { grid-area: conteudo-4; }
.area_8 { grid-area: rodape;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img .area_0{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20px;
  }

h4{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

p{
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;

}

.grid-container div {
  /* background-color: LightGray; */
}

.grid-container {
  display: grid;
  gap: 5px;
  height: 100vh;
  /* background-color: silver; */
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  text-align: center;
  color: #00355f;
 

  grid-template-areas:
    'logomarca'
    'cabecalho'
    'busca'
    'lateral-e'
    'conteudo-1'
    'conteudo-2'
    'conteudo-3'
    'conteudo-4'
    'rodape'
}

/* .area_8 { 
  margin: 8px;
  padding: 5px;
  bottom: 0;
  position: absolute;
  width: 100%;
}
 */


@media (min-width: 500px) {

    .grid-container {
        grid-template-rows: 1fr 1fr 1fr 3fr 3fr 3fr 1fr;
        grid-template-columns: 2fr 2fr;
        grid-template-areas: 
    
            'logomarca   logomarca'
            'cabecalho   cabecalho'
            'busca       busca'
            'lateral-e   lateral-e'
            'conteudo-1  conteudo-2'
            'conteudo-3  conteudo-4'
            'rodape      rodape'
    }
    
}
@media (min-width: 1000px) {
    
    .grid-container {
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-columns: 2fr 2fr 3fr 3fr;
        grid-template-areas: 
    
            'logomarca  cabecalho  cabecalho  busca'
            'lateral-e  lateral-e   conteudo-1 conteudo-2 '
            'lateral-e  lateral-e   conteudo-3 conteudo-4 '
            'rodape     rodape      rodape     rodape'
    }

}
.button1 {
  font-family: 'Comfortaa', cursive;
  padding: 15px;
  background-color:; color: black;
  border-radius:10px;
}